@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "tailwindcss";

@config "../../tailwind.config.js";

html {
  font-family: "Nunito", sans-serif;
}
